@font-face { font-family: Auther; src: url('/font/Auther.otf'); } 
@font-face { font-family: Cucho; font-weight: bold; src: url('/font/Cucho.otf');}
@font-face { font-family: LesFruits; src: url('/font/LesFruits.ttf'); } 

.canvas-container {
    background: url('https://pixlr.com/img/misc/square-bg.png');
    margin: auto;
}
.sidebar {
    background-color: beige;
}
.container {
    display: flex;
    margin-top: 50px;
}

.bss-editor-sidebar {
    position: fixed;
    height: 50vh;
    left: 0;
    top: 20%;
    background: #222;
    color: #fff;
    list-style: none;
}

.editor-wrapper {
    width: 900px;
    height: 700px;
    background: #333;
    margin: auto;
}
